/*TODO: modularize all css into respective module directories*/

body {
    padding-top: 50px;
}

#search-form {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 9px;
}

#search-input {
    width: 100%;
}

#thumbnail-desc {
    white-space: normal;
}

.thumbnail {
    width: 200px;
    margin: 15px;
}

.button-row {
    height: 40px;
}