body {
    padding: 50px 0 0 0;
    z-index: 0;
}

.jumbotron {
    margin: 0px auto;
    height: 320px;
    background: darkblue;
    color: white;
}

img {
    margin-top: -10px;
}

.nav {
    width: 90%;
}

#search-li {
    width: 40%;
}

.navbar-form, #search-bar {
    width: 100%;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    #search-li {
        width: 100%;
        margin-left: 12%;
    }
}

#main-content {
    height: 400px;
}

#footer {
    background: darkgray;
    height: 100px;
    width: 100%;
    padding: 20px 0 0 0;
    color: white;
}

#footer-menu-social, #footer-menu-links {
    list-style: none;
    display: inline;
}