/*** TODO: modularize all css into respective module/component directories ***/

/* OVERALL STYLES */
body {
    padding-top: 50px;
    background: rgba(225,225,225,.5);
}

/* REDIRECT PAGE STYLES */
.access-restricted {
    height: 400px;
    padding: 10%;
}

/* NAVBAR STYLES */
#navbarElements {
    width: auto;
}

#search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

@media (max-width: 991px) {
    #search-form {
        position: relative;
        margin: auto;
        width: 80%;
    }
}

#search-input {
    width: 100%;
}

.navbar-collapse {
    width: 50%;
}

.navbar .navbar-toggler:focus, .navbar .navbar-toggler:hover{
    background-color: transparent;
}

.navbar .navbar-toggler{
    border-color: transparent;
}

/* HOMEPAGE STYLES */
.home-splash {
    height: 400px;
    background-image: url("/images/homepage_pic_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    margin-bottom: 50px;
}

/*FOOTER STYLES*/
#footer ul li {
    margin: 0 10px;
}

/*DAPP CATALOG STYLES*/
.dapps-content-container {
    padding: 0;
    width: 100%;
}

.filter-panel {
    background: white;
    height: 400px;
    margin-top: 40px;
}

.dapps-panel {
    margin-top: 20px;
}

.action-panel {
    background: white;
    height: 400px;
    margin-top: 40px;
}

/* DAPP LIST ELEMENT STYLES */
.dapp-list {
    padding: 0;
    width: 100%;
}

.dapp-list-header {
    /*margin: auto 0px -5px 0px;*/
    border-radius: 5px 5px 0 0;
    padding: 0 0 5px 0;

}

.dapp-list-container {
    padding: 0;
}

.dapp-list-item {
    padding: 15px 0;
}

/* DAPP DETAIL PAGE STYLES */
.close {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px 15px 12px 15px;
}

/* DAPP ABOUT TAB STYLES*/
.about-content-row {
    margin: 50px auto;
}

/* PROFILE PAGE STYLES */
.profile-header {
    margin-top: 30px;
    padding: 40px;
    background: grey;
    border-radius: 15px;
}

.profile-content-header {
    border: 2px solid gray;
    border-radius: 15px;
    margin: 0 5px 15px 5px;
    padding-bottom: 10px;
}

.profile-content-area {
    border-radius: 15px;
    padding: 10px;
}

.profile-row-2 {
    margin-top: 2em;
}

#profile-pic {
    margin: auto;
}

.profile-edit-btn {
    position: absolute;
    width: 5em;
    top: 50%;
    transform: translateY(50%);
    margin-left: -5em;
}

.profile-menu-area {
    margin-top: 20px;
}

/* COMMENTS STYLING */
.comments-container {
    margin: 10%;
    border: 1px solid darkblue;
    border-radius: 15px;
}

.text-box-top {
    width:100%;
    height: 100%;
    margin: 10px 0 5px 0;
    height: 100px;
}

.top-btn {
    margin-top: 10px;
}

.comment-block {
    border: 1px solid darkblue;
    border-radius: 15px;
    margin: 5px;
}

.children {
    transform: translateX(-2%);
}

.button-list {
    border: none;
}