<div class="profile-settings">
    <div class="col-12">
        <form ng-submit="vm.updateProfile()">
            <div class="form-group row">
                <label class="col-md-3 col-form-label form-control-label h6" for="userUsername">Username</label>
                <div class="col-md-9">
                    <input ng-show="vm.showEdit" ng-model="vm.newUsername" type="text" class="form-control" id="userUsername" placeholder="{{vm.user.username}}">
                    <p ng-show="!vm.showEdit" class="form-control-static">{{vm.user.username}}</p>
                </div>
            </div>
            <div class="form-group row" ng-show="vm.showEdit">
                <label class="col-md-3 col-form-label form-control-label h6" for="userPassword">Password</label>
                <div class="col-md-9">
                    <input ng-model="new.newPassword" class="form-control" type="password" id="userPassword">
                </div>
            </div>
            <div class="form-group row" ng-show="vm.showEdit">
                <label class="col-md-3 col-form-label form-control-label h6" for="confirmPassword">Confirm new password</label>
                <div class="col-md-9">
                    <input ng-model="new.newPassword" class="form-control" type="password" id="confirmPassword">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label form-control-label h6" for="userEmail">Email</label>
                <div class="col-md-9">
                    <input ng-show="vm.showEdit" ng-model="vm.newEmail" class="form-control" type="email" id="userEmail" placeholder="{{vm.user.email}}">
                    <p ng-show="!vm.showEdit" class="form-control-static">{{vm.user.email}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label form-control-label h6" for="userFirstName">First Name</label>
                <div class="col-md-9">
                    <input ng-show="vm.showEdit" ng-model="vm.newFirstName" type="text" class="form-control" id="userFirstName" placeholder="{{vm.user.firstName}}">
                    <p ng-show="!vm.showEdit" class="form-control-static">{{vm.user.firstName}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label form-control-label h6" for="userLastName">Last Name</label>
                <div class="col-md-9">
                    <input ng-show="vm.showEdit" ng-model="vm.newLastName" type="text" class="form-control" id="userLastName" placeholder="{{vm.user.lastName}}">
                    <p ng-show="!vm.showEdit" class="form-control-static">{{vm.user.lastName}}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <button ng-click="vm.toggleEdit()" class="btn btn-outline-primary mx-3" type="button">
                    {{vm.showEdit ? 'Cancel':'Edit'}}
                </button>
                <button ng-show="vm.showEdit" type="button" class="btn btn-primary mx-3" ng-click="vm.updateProfile()">Save Changes</button>
            </div>
        </form>
    </div>
</div>