<div class="container">
    <div class="d-flex flex-row justify-content-center my-3">
        <h3>Register</h3>
    </div>
    <form ng-submit="vm.doRegister()">
        <div class="d-flex flex-column justify-content-center">
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="vm.registration.username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="vm.registration.password">
            </div>
            <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="vm.registration.email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="firstname">First Name</label>
                <input type="text" class="form-control input-sm" id="firstname" placeholder="First Name" ng-model="vm.registration.firstname">
            </div>
            <div class="form-group">
                <label class="sr-only" for="lastname">Last Name</label>
                <input type="text" class="form-control input-sm" id="lastname" placeholder="Last Name" ng-model="vm.registration.lastname">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.registration.rememberMe"> Remember me?
                </label>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <button type="submit" class="btn btn-outline-info">Register</button>
            <button type="button" class="btn btn-outline-danger" ng-click="vm.reject()">Cancel</button>
        </div>
    </form>
</div>