<div class="container-fluid dapp-dialog-container">
    <div class="row justify-content-end pr-3 pr-md-5 mt-4">
      <button type="button" class="close" aria-label="Close" ng-click="vm.goBack()">
        <span class="close-button" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row justify-content-center mb-5 mt-3">
      <div class="col-12 col-sm-3">
          <img class="rounded mx-auto d-block img-fluid" ng-src='{{vm.dapp.logoImage}}'/>
      </div>
      <div class="col-12 col-sm-5">
        <h2 class="d-flex justify-content-center justify-content-md-start py-2 mt-2">{{vm.dapp.name}}</h2>
        <p>{{vm.dapp.thumbnailDescription}}</p>
        <hr class="my-3">
        <div class="row justify-content-center justify-content-md-start mx-md-1 mb-3 mb-md-0">
          <button ng-click="vm.handleFavorite()" ng-show="vm.loggedIn" class="btn btn-secondary rounded-button mx-2" role="button">
              <span class="fa fa-heart-o" ng-show="!vm.favorited"></span>
              <span class="fa fa-heart favorited" ng-show="vm.favorited"></span>
          </button>
          <button ng-click="vm.handleLike()" ng-show="vm.loggedIn" class="btn btn-secondary rounded-button mx-2" role="button" >
              <span class="fa fa-thumbs-o-up" ng-show="!vm.liked"></span>
              <span class="fa fa-thumbs-up" ng-show="vm.liked"></span>
          </button>
          <div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 d-flex flex-column justify-content-center align-items-center">
        <a href="{{vm.dapp.website}}">Website</a>
        <hr class="my-2">
        <ul class="list-unstyled d-flex">
          <li class="pl-2" ng-show="vm.hasSocial('facebook')">
            <a class="dapp-social-links" href="{{vm.dapp.socialLinks.facebook}}">
              <i class="fa fa-facebook-f fa-2x"></i>
            </a>
          </li>
          <li class="pl-2" ng-show="vm.hasSocial('twitter')">
            <a class="dapp-social-links" href="{{vm.dapp.socialLinks.twitter}}">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          <li class="pl-2" ng-show="vm.hasSocial('reddit')">
            <a class="dapp-social-links" href="{{vm.dapp.socialLinks.reddit}}">
              <i class="fa fa-reddit-alien fa-2x"></i>
            </a>
          <li class="pl-2" ng-show="vm.hasSocial('github')">
            <a class="dapp-social-links" href="{{vm.dapp.socialLinks.github}}">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
          <li class="pl-2" ng-show="vm.hasSocial('slack')">
            <a class="dapp-social-links" href="{{vm.dapp.socialLinks.slack}}">
              <i class="fa fa-slack fa-2x"></i>
            </a>
          </li> 
        </ul>
      </div>
    </div>
    <div class="justify-content-center">
      <div class="dapp-body">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" data-target="#dapp-about" role="tab">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-target="#dapp-discussion" role="tab">Discussion</a>
          </li>
        </ul>
        <div class="tab-content col-12 col-md-10 offset-md-1">
          <div class="tab-pane active fade show" id="dapp-about" role="tabpanel">
             <dapp-about-component about-content="vm.dapp.aboutContent" about-images="vm.dapp.aboutImages"></dapp-about-component> 
          </div>
          <div class="tab-pane fade" id="dapp-discussion" role="tabpanel">
             <dapp-discussion-component app-id="vm.dapp.id"></dapp-discussion-component> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>