<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">{{$ctrl.item}}</h4>
</div>
<div class="modal-body" name="modalData">
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="About">Placeholder for info about the Dapp</uib-tab>
    <uib-tab index="1" heading="Stats">Placeholder for stats about the Dapp</uib-tab>
    <uib-tab index="2" heading="Discussion">Placeholder for discussion about the Dapp</uib-tab>
  </uib-tabset>
</div>
<div class="modal-footer">
</div>