<!-- use of component as html element should include class card and set card width -->
<div class="card h-100">
    <a ui-sref="app.dapps.dappdetails({dappId: vm.dappId, name: vm.name})">
        <img class="card-img-top img-fluid" ng-src="{{vm.logoImage}}" alt="Card image cap"> 
    </a>
    <div class="card-block">
        <h4 class="card-title">{{vm.name}}</h4>
        <p class="card-text">{{vm.thumbnailDescription}}</p>
    </div>
    <div class="card-footer d-flex flex-row justify-content-between">
        <span class="fa fa-heart-o">&nbsp {{vm.dappFavCount}}</span>
        <span class="fa fa-thumbs-up">&nbsp {{vm.dappLikeCount}}</span>
    </div>
</div>

