<li class="col-xs-12">
    <img class="col-xs-3" ng-src='{{vm.logoImage}}' ng-click="vm.open()" alt="Item Image"/>
    <div class="caption col-xs-6">
        <h3>{{vm.name}}</h3>
        <h4 class="text-left" id="thumbnail-desc">{{vm.thumbnailDescription}}</h4>
        <hr>
    </div>
    <div class="button-section col-xs-2">
        <a href="#" class="btn btn-default pull-left" role="button">
            <span class="glyphicon glyphicon-heart"></span>
        </a>
        <a href="#" class="btn btn-default pull-right" role="button">
            <span>{{vm.likes}}</span>
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </a>
    </div>
</li>