
<div class="d-flex flex-row justify-content-center">
  <div ng-hide="vm.loggedIn" class="">
    Please <a href="#">Login</a> or <a href="#">Sign Up</a> to comment on this Dapp
  </div>
  <div ng-show="vm.loggedIn" class="col-8">
      <div class="form-group w-100">
        <label class="sr-only" for="comment-input" aria-label="Comment Input">Comment Input</label>
        <textarea class="form-control" id="comment-input" rows="3" ng-model="vm.formComment.body"></textarea>
      </div>
      <div class="">
        <button class="top-btn btn btn-primary" ng-click="vm.createComment()">Save</button>
      </div>
  </div>
</div>
<ul>
  <comment-component class="comment-block" ng-repeat="comment in vm.comments" comment="comment" comments="vm.comments" logged-in="vm.loggedIn">
  </comment-component>
</ul>
