<div class="container-fluid dapps-content-container" style="background: lightgrey;">
    <div class="row">
        <div class="col-12 col-sm-3 mt-5">
            <dapp-search-panel category="vm.category" on-category-change="vm.category = $event.category" tag=""></dapp-search-panel>
        </div>
        <div class="col-12 col-sm-9 mt-5 mb-5 dapps-view-panel">
            <dapp-results-panel category="vm.category" tag="vm.tag" query="vm.query"></dapp-results-panel>
        </div>
    </div>
</div>