<div class="jumbotron d-flex justify-content-center align-items-center home-splash">
    <div class="text-center">
        <h2>We've Got DApps Covered, Top to Bottom</h2>
        <h4>Welcome to DappStack</h4>
        <p><a class="btn btn-primary btn-lg" ui-sref="app.search" role="button">Browse</a></p>
    </div>
</div>
<div class="container home-container justify-content-center">
    <dapps class="container-fluid" heading="vm.heading1" filter="" limit-to="-5" order-by=""></dapps>
    <dapps class="container-fluid" heading="vm.heading2" filter="" limit-to="-5" order-by=""></dapps>
</div>