<div class="container">
    <div class="row" ng-show="vm.loggedIn">
        <div class="profile-header col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img id="profile-pic" class="img-responsive img-circle" width="200px" height="200px" alt="profile picture" ng-src="/images/profile_placeholder.png">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <h2>{{vm.user.firstName}} {{vm.user.lastName}}</h2>
                    <p>{{vm.user.username}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-row-2" ng-show="vm.loggedIn">
        <div class="profile-menu-area col-xs-12 col-md-offset-1 col-md-2">
            <ul class="list-group">
                <li class="list-group-item"><a ui-sref="app.profile.settings">Settings</a></li>
                <li class="list-group-item"><a ui-sref="app.profile.favorites" ui-sref-active>Favorites</a></li>
            </ul>
        </div>
        <div ui-view="profile-content" class="profile-content-area col-xs-12 col-md-8">
        </div>
    </div>
    <div class="row text-center" ng-show="!vm.loggedIn">
        <div class="access-restricted col-xs-12">
            <h2>You are not logged in. Please log in to view your profile.</h2>
        </div>
    </div>
</div>