<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app" href="#">DappStack</a>
        </div>
        <!-- All Navbar items that will collapse upon resize -->
        <div class="navbar-collapse collapse" uib-collapse="!isNavCollapsed">
            <ul class="nav navbar-nav navbar-right" style="display:inline-block">
                <li ng-repeat="menu in $ctrl.menu"><a href="{{menu.component}}">{{menu.name}}</a></li>
            </ul>
            <form class="navbar-form" id="search-form">
                <div class="form-group" style="display:inline;">
                    <input type="text" class="form-control" id="search-input" placeholder="Search Dapps...">
                </div>
            </form>
        </div>
    </div>
</nav>
