<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app" href="vm.logo">DappStack</a>
        </div>
        <!-- All Navbar items that will collapse upon resize -->
        <div class="navbar-collapse collapse" uib-collapse="!isNavCollapsed">
            <ul class="nav navbar-nav navbar-right" style="display:inline-block">
                <li ng-if="!vm.loggedIn">
                    <a ng-click="vm.openLogin()">
                        <span class="glyphicon glyphicon-log-in"></span> Login
                    </a>
                </li>
                <li ng-if="vm.loggedIn">
                    <a ui-sref="app.profile">{{vm.username}}</a>
                </li>
                <li ng-if="vm.loggedIn">
                    <a ng-click="vm.logOut()">
                        <span class="glyphicon glyphicon-log-in"></span> Logout
                    </a>
                </li>
            </ul>
            <search-component placeholder="Search Dapps..."></search-component>
        </div>
    </div>
</nav>
