<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header col-xs-12 col-sm-3">
            <a class="navbar-brand" ui-sref="app" href="#">DappStack</a>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <form>
                <input id="search-bar" type="search" placeholder="Search Dapps...">
            </form>
        </div>
        <div class="col-xs-12 col-xs-3">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <button type="button" class="btn menu-btn" uib-button-checkbox>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </ul>
        </div>
    </div>
</nav>  